body,
input,
button {
    color: #222;
    font-family: 'arail, sans-serrif';
    font-size: 14px;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline-block;
    padding: 0px 4px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 82px;
}

.textform {
    background-color: transparent;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 450px;
    margin-top: 20px;
    border-radius: 25px;
}

.button {
    position: fixed;
    top: 40%;
    left: 40%;
}

.footer {
    background-color: whitesmoke;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.footer a {
    list-style-type: none;
    text-decoration: none;
}

.carbon {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#SIvCob {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}